.container{
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.social{
    display: flex;
    align-items: center;
    gap: 20px;
    filter: opacity(80%);
}

.icon{
    cursor: pointer;
    border-radius: 8px;
}